name: Cache Libraries
run-name: ${{github.actor}} caches libraries for ${{vars.PROJECT}}

on: [workflow_call, workflow_dispatch]

jobs:
  cache-libraries:
    name: Cache Libraries
    runs-on: ubuntu-latest
    container:
      image: serversideup/php:8.4-cli-alpine
      options: --user root
    steps:
      - name: Checkout to cache
        uses: actions/checkout@v4

      - name: Cache Composer libraries
        id: cache-composer
        uses: actions/cache@v4
        with:
          key: cache-${{vars.PROJECT}}-composer-${{hashFiles('composer.lock')}}
          path: vendor

      - name: Install Composer libraries
        if: ${{steps.cache-composer.outputs.cache-hit != 'true'}}
        run: |
          composer self-update
          composer install -o --no-scripts
